@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Sevillana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

.header-text {
    font-family: 'Playfair Display', serif;
}

.modux-text {
    font-family: 'Sevillana', cursive;
}

.bg-modux {
    background-size: cover;
    background-position: center;
}

.parallax {
    background-attachment: fixed;
}

.overlay {
    background: rgba(0, 0, 0, 0.5); /* Justera färgen och opaciteten efter behov */
}

.btn-primary {
    @apply bg-marsala text-white py-2 px-4 rounded;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
